.vagrant
.ruby-gemset
.ruby-version

/ddr-public
/dul-hydra
/ddr-models
/image-server
/image-server-data
/scripts
/fedora4
/RL10059CS000201.wav
/backup_vm.sh
/blacklight
/blacklight_advanced_search
/blacklight_range_limit
/blacklight_summit_demo
/ddr-aux
/dul-pmp
/dul-spotlight
/edtf-humanize
/edtf-ruby
/triples

/METS/*
/fixity/fedora_ingest/*.txt
/TUCASI_CIFS2/dpc-archive/Archived_NoAccess/*

/assign_struct_metadata.rb